	<footer class="footer">
			<small>
			    <a href="http://railstutorial.org/">Joker on Rails</a> by Jokerstudio
			</small>
		  	<nav>
			    <ul class='pull-right'>
			      <li><a href="#">About</a></li>
			      <li><a href="#">Contact</a></li>
			      <li><a href="http://news.railstutorial.org/">News</a></li>
			    </ul>
		  	</nav>
	</footer>
	</br></br>
	<%= image_tag "rails.png",:alt => "ruby on rails" %>
	</br></br></br>
	<%= debug(params) if Rails.env.development? %>